---
title: About
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block() }}
	<!-- begin hero -->
	<div class="hero js-lazy" data-src="./img/about-hero.jpg"></div>
	<!-- end hero -->
	<div class="inner">
		<div class="wrap">
			<!-- begin section -->
			<div class="section">
				<h2 class="section__title title text-uppercase">История школы</h2>
				<div class="section__text">
					<p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening, you wonder about the wine’s origins. Look no further for the answer to your fleeting Friday night queries-Italy, land of romantics, heroic epics and passionately-written plays. In the countryside and cities where the Renaissance began it seems fitting to find a hedonistic exploration of the richest vineyards in the world to suit even the pickiest travelers. Best known for its world-renowned wines paired with decadent cuisine and intertwined with the rich culture of the people who produce it, it’s not just another spot on the globe- it’s a destination filled with memories to last a lifetime.</p>
					<p>With La Dolce Vita the sky is the limit for destinations and experiences. They’ve thought of everything- from famous vineyards to elegant accommodations. The names are all familiar: Sicily, Tuscany, Venice, Verona-but these places are more than just a name on a fine bottle or a magical place in a Shakespearean play. With La Dolce Vita the countryside and cities become real as you taste “the good life” firsthand.</p>
					<p>A relaxing walking tour of the Amalfi Coast in south Naples, home of outstanding wines from ancient Greek grapes, such as Aglianico, Greco di Tufo, and Fiano di Avellino, is just one amazing tour. Enjoy hillsides covered in lemon trees and umbrella pines, fresh seafood and the breathtaking sea that gave it life as Mt. Vesuvius rises behind you in majestic and ancient grace. If wheels and pedals are more to your liking you can coast through the countryside of Chianti Classico in Tuscany and see the dense forests and medieval castles that gave birth to wine of the same name. Enjoy authentic pasta fagioli prepared with handmade pasta and porcini mushrooms. A full glass of Chianti in your hand you watch the sun sets across the winding vineyards below you.</p>
					<p>These tours are made for lovers and groups alike, as well as offering customized tours and additional single accommodations. Designed to dazzle the most inexperienced, as well as most elegant wine connoisseur, tours run May to November and are generally booked for five day and six nights stays.</p>
				</div>
			</div>
			<!-- end section -->
			<!-- begin section -->
			<div class="section">
				<h2 class="section__title title">О нас</h2>
				<div class="section__text">
					<img src="./img/about-img.jpg" alt="img">
					<div class="description">One of the popular questions is – why my logo should be custom? If logo is created with the use of a clipart (premade graphic elements from the public collections) it may look like or be identical to other logos and even your competitors’ logos. This will make identification of your company difficult or your logo may be easily mixed up with logo of another company. This situation may harm your reputation and money invested in marketing of your brand will be wasted. Good company logo reflects the main point of your company, its values and helps in successful development of the business. Also, it is important to distinguish the logo design for big companies and start-ups. Logo for the big company may consist only of a one graphic element (Nike swoosh) and it will be easily identifiable but for small company such logo is a bad idea because you will need to spent huge amounts of money to promote it.</div>
				</div>
			</div>
			<!-- end section -->
			<!-- begin section -->
			<div class="section">
				<h2 class="section__title title">Волшебная туфелька</h2>
				<div class="news-item">
					<div class="news-item__img"><img class="js-lazy" data-src="http://placeimg.com/640/728/any" alt="img"></div>
					<div class="news-item__wrap">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<div class="news-item__footer">
							<a href="#" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end section -->
			<!-- begin section -->
			<div class="section">
				<h2 class="section__title title">Волшебная туфелька</h2>
				<div class="news-item">
					<div class="news-item__img"><img class="js-lazy" data-src="http://placeimg.com/640/728/any" alt="img"></div>
					<div class="news-item__wrap">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<div class="news-item__footer">
							<a href="#" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end section -->
		</div>
	</div>
	{% include "partials/_footer.html" %}

{% endblock %}
