---
title: Special projects
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block() }}
	<!-- begin hero -->
	<div class="hero js-lazy" data-src="./img/hero-img.jpg"></div>
	<!-- end hero -->
	<div class="inner">
		<div class="wrap">
			<!-- begin section -->
			<div class="section">
				<h2 class="section__title title text-uppercase">Спецпроекты</h2>
				<div class="section__text">
					<p>As you pour the first glass of your favorite Chianti or Chardonnay and settle into an intimate Friday evening, you wonder about the wine’s origins. Look no further for the answer to your fleeting Friday night queries-Italy, land of romantics, heroic epics and passionately-written plays. In the countryside and cities where the Renaissance began it seems fitting to find a hedonistic exploration of the richest vineyards in the world to suit even the pickiest travelers. Best known for its world-renowned wines paired with decadent cuisine and intertwined with the rich culture of the people who produce it, it’s not just another spot on the globe- it’s a destination filled with memories to last a lifetime.</p>
				</div>
			</div>
			<!-- end section -->
			<!-- begin section -->
			<div class="section">
				<h2 class="section__title title">Волшебная туфелька</h2>
				<div class="news-item">
					<div class="news-item__img"><img class="js-lazy" data-src="http://placeimg.com/640/728/any" alt="img"></div>
					<div class="news-item__wrap">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<div class="news-item__footer">
							<a href="#" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end section -->
			<!-- begin section -->
			<div class="section">
				<h2 class="section__title title">Волшебная туфелька</h2>
				<div class="news-item">
					<div class="news-item__img"><img class="js-lazy" data-src="http://placeimg.com/640/728/any" alt="img"></div>
					<div class="news-item__wrap">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						<div class="news-item__footer">
							<a href="#" class="btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
			<!-- end section -->
		</div>
	</div>
	{% include "partials/_footer.html" %}

{% endblock %}
