<!-- begin footer -->
<footer class="footer">
	<div class="footer__inner">
		<a href="#" class="footer__logo logo-text">
			<span class="logo-text__img">
				<img src="./img/logo-white.svg" alt="logo">
			</span>
			<span class="logo-text__text">Русская национальная школа балета</span>
		</a>
		<div class="footer__row">
			<div class="footer__col">Спецпроекты</div>
			<div class="footer__col">Статьи</div>
		</div>
		<ul class="footer__soc soc">
			<li><a href="#" target="_blank"><img src="./img/vk.png" alt="vk"></a></li>
			<li><a href="#" target="_blank"><img src="./img/facebook.png" alt="facebook"></a></li>
			<li><a href="#" target="_blank"><img src="./img/instagram.png" alt="instagram"></a></li>
		</ul>
		<div class="footer__row">
			<div class="footer__col">
				<a href="tel:+7(495)000-00-00">+7 (495) 000-00-00</a>
			</div>
			<div class="footer__col">
				<a href="mailto:mail@ilzeliepa-school.ru">mail@ilzeliepa-school.ru</a>
			</div>
		</div>
		<div class="footer__copy">&copy; Ballet school | ПОЛИТИКА КОНФИНДЕЦИАЛЬНОСТИ</div>
	</div>
</footer>
<!-- end footer -->