.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-next {
  width: 1.43em;
  height: 1em;
  fill: currentColor;
}
